html {
  margin: 0 auto;
  text-align: center;
}

footer {
  font-size: 14px;
  position: fixed;
  color: #000;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em'

}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-header-left {
  width: 33%;
  text-align: start;
}

.nav-header-center {
  width: 33%;
} 

.nav-header-right {
  width: 33%;
}

.graphql-link {
  font-size: 20px;
  color: blue
}

#project-select {
  margin: 75px 0 0 0;
}