{% extends "layout.html" %}


<html>
  {% block title %}Welcome{% endblock %}
  

  {% block content %}  
  <body>
    <div class="landingIntro-container">
      <h1>Welcome to Louie's project organizer</h1>
      <h4>The purpose of this page is to organize and showcase the projects I've worked on while starting out as a software dev!</h4> 
      <div class="landing-nav-container">
        <div class="landing-body-container">
          <h3>VIEW PROJECTS</h3>
        </div>
        <div class="landing-body-container">
          <h3>ADD A PROJECT</h3>
        </div>
        <div class="landing-body-container">
          <h3>EDIT A PROJECT</h3>
        </div>
        <div class="landing-body-container">
          <h3>DELETE A PROJECT</h3>
        </div>
        <div class="landing-body-container">
          <h3>VIEW PROFILE PAGE</h3>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}

</html>
