{%extends "layout.html" %}


<html>
  {% block title %}Welcome{% endblock %}

  {% block content %}  
  <body>
    <div class="landingIntro-container">
      <h1>Welcome to Louie's project organizer</h1>
      <h4>The purpose of this page is to organize and showcase the projects I've worked on while starting out as a software dev!</h4> 
      <div class="landing-nav-container">
        <div class="landing-view-container">
          <h3>VIEW PROJECTS</h3>
        </div>
        <div class="landing-edit-container">
          <h3>ADD/EDIT/DELETE PROJECTS</h3>
        </div>
        <div class="landing-profile-container">
          <h3>VIEW/EDIT USER PROFILE</h3>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}

</html>
