<!DOCTYPE html>

<html>
  <head>
    <title>Projects Showcase - {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <nav class="nav-header">
      <a href="http://localhost:3000/graphql">Try GraphiQL</a>
      <a href="">Home</a>
      <a href="">Projects</a>
      <a href="">Users</a>
      <a href="">Profile</a>
    </nav>
    {% block content %}
    {% endblock %}
  </body>

  <footer>
    <p style="font-size:12px;"><span>&#169;</span>2020 - Louis Reilly-Willhight for General Assembly</p>
  </footer>

  {% block script %}
  {% endblock %}
</html>